<form action="/configure/layer/new" method="post">


		<input type="text" name="layer[name]" placeholder="name"/>
		<br />
		<input type="text" name="layer[url]" placeholder="url"/>
		<br /><br />
		<input type="submit" value="Go!" />
</form>
